<!doctype html>
<html>
    <body>
<!--
# TODO: Create a signup form with fields for Username, Password, Verify
# Password, Optional email, and submit button

# TODO:

# Each feedback message must be next to the the field it refers to.

# # TODO:
# Users should only have to enter email once. 
# # TODO:
# Password should be cleared for security reasons.

-->

        <h1>Signup</h1>
        <form action = "/validate" method="POST">
            <label>Username 
                <input name="username" type = "text" value = "{{username}}" required />
            </label>
            <p class="error">{{username_error}}</p>
            <br />
            <label>Password
                <input name="password" type="password" value= "{{password}}" required />
            </label>
            <p class="error">{{password_error}}</p>
            <br />
            <label>Verify Password
                <input name="v_password" type="password" value = "{{v_password}}" required />
            </label>
            <p class="error">{{v_password_error}}</p>
            <br />
            <label>Email (optional) 
                <input name="email" type = "text" value = "{{email}}" />
            </label>
            <p class="error">{{email_error}}</p>

            <br />
            <input type="submit" value="validate" />
        </form>
    </body>
</html>