<!doctype html>
<html>
    <body>
        <form action="/signup" method="post">
            <label for="user-name" type="text">Username:</label>
            <input id="user-name" type="text" name="user-name" />
            
            <label for="password" type="password">Password:</label>
            <input id="password" type="password" name="password" />
            
            <label for="password" type="password">Verify Password:</label>
            <input id="password" type="password" name="password" />

            <label for="email" type="text">Email (optional):</label>
            <input id="email" type="text" name="email" />
            <input type="submit" />
        </form>
    </body>
</html>